@import 'tailwindcss';

@theme {
	--font-sans: Figtree, sans-serif;
	--font-title: Quantico, sans-serif;

	--color-surface: oklch(0.1266 0 0);
	--color-surface-accent: oklch(0.1636 0.0522 286.19);
	--color-surface-border: oklch(0.45 0.0452 284.11);
	--color-surface-text: oklch(0.9764 0 0);
	--color-surface-text-muted: oklch(0.75 0 0.1);
}

@layer base {
	body {
		@apply min-h-[100dvh] bg-surface font-sans text-surface-text before:pointer-events-none before:fixed before:top-0 before:right-0 before:bottom-0 before:left-0 before:z-[-1] before:scale-[1.2] before:bg-[url('/images/gradients.png')] before:bg-cover before:bg-center before:bg-no-repeat before:opacity-20 before:blur-[125px];
	}
}
